<a href="https://colab.research.google.com/github/VAEH/curso-python/blob/master/10_1_Group_BY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Group BY

En esta clase vamos a aprender a como agrupar nuestras categorías y sobre esta aplicar algunas funciones estadísticas e inclusive vamos a aprender que con aggregate podemos crear nuestra propia función y aplicarla.

In [31]:
import pandas as pd
import numpy as np
pd.__version__

'1.1.5'

In [17]:
pd.options.display.float_format = '{:,.3f}'.format

In [4]:
#Libreria de visualización 
import seaborn as sns

In [5]:
df = sns.load_dataset('diamonds')
df

       carat        cut color clarity  depth  table  price     x     y     z
0      0.230      Ideal     E     SI2 61.500 55.000    326 3.950 3.980 2.430
1      0.210    Premium     E     SI1 59.800 61.000    326 3.890 3.840 2.310
2      0.230       Good     E     VS1 56.900 65.000    327 4.050 4.070 2.310
3      0.290    Premium     I     VS2 62.400 58.000    334 4.200 4.230 2.630
4      0.310       Good     J     SI2 63.300 58.000    335 4.340 4.350 2.750
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935  0.720      Ideal     D     SI1 60.800 57.000   2757 5.750 5.760 3.500
53936  0.720       Good     D     SI1 63.100 55.000   2757 5.690 5.750 3.610
53937  0.700  Very Good     D     SI1 62.800 60.000   2757 5.660 5.680 3.560
53938  0.860    Premium     H     SI2 61.000 58.000   2757 6.150 6.120 3.740
53939  0.750      Ideal     D     SI2 62.200 55.000   2757 5.830 5.870 3.640

[53940 rows x 10 columns]

Se agrupan los datos dado una variable, sobre este se pueden aplicar variables como el promedio.

In [7]:
df.groupby('cut').mean()

           carat  depth  table     price     x     y     z
cut
Ideal      0.703 61.709 55.952 3,457.542 5.507 5.520 3.401
Premium    0.892 61.265 58.746 4,584.258 5.974 5.945 3.647
Very Good  0.806 61.818 57.956 3,981.760 5.741 5.770 3.560
Good       0.849 62.366 58.695 3,928.864 5.839 5.851 3.640
Fair       1.046 64.042 59.054 4,358.758 6.247 6.183 3.983

Se puede calcular otros estimadores estadisticos.

In [8]:
df.groupby('cut').median()

           carat  depth  table     price     x     y     z
cut
Ideal      0.540 61.800 56.000 1,810.000 5.250 5.260 3.230
Premium    0.860 61.400 59.000 3,185.000 6.110 6.060 3.720
Very Good  0.710 62.100 58.000 2,648.000 5.740 5.770 3.560
Good       0.820 63.400 58.000 3,050.500 5.980 5.990 3.700
Fair       1.000 65.000 58.000 3,282.000 6.175 6.100 3.970

Se puede aplicar ese tipo de funciones a nivel de columnas, simplemente colocando la columna después del `Group By`. Se puede calcular la media, mediana, contar los datos según su grupo, etc.

In [10]:
df.groupby('cut')['carat'].count()

cut
Ideal        21551
Premium      13791
Very Good    12082
Good          4906
Fair          1610
Name: carat, dtype: int64

In [11]:
df.groupby('cut')['carat'].max()

cut
Ideal       3.500
Premium     4.010
Very Good   4.000
Good        3.010
Fair        5.010
Name: carat, dtype: float64

In [ ]:
df.groupby('cut')['carat'].min()

Se puede entender el `GroupBy` como un objeto que contiene paquetes y sobre estos paquetes se recorren aplicando diferentes funciones.

In [12]:
for i in [0,1,2,3]:
  print(i)

0
1
2
3

Se pueden aplicar funciones a nivel de Bucle

In [20]:
for key_group, group in df.groupby('cut'):
  #De cada uno de esos grupos, seleccionare el promedio. 
  grouped_price = group['price'].mean()

  print('Cut: {}, Price {}\n'.format(key_group, grouped_price))

Cut: Ideal, Price 3457.541970210199

Cut: Premium, Price 4584.2577042999055

Cut: Very Good, Price 3981.7598907465654

Cut: Good, Price 3928.864451691806

Cut: Fair, Price 4358.757763975155

Se puede agrupar usando varios parametros. En este caso se realiza una agrupación por corte y color. 

Obtenemos un objeto que contiene dos indices, que contiene la variable de corte y la variable de color

lo que hacemos con to_frame es convertir una serie de datos a tipo DataFrame, es decir a un marco de datos.
.
El mismo resultado lo podemos obtener al poner corchete doble [[ ]]
.
Ej: [ [ ‘price’ ] ] #nos prsenta la información como DataFrame
[‘price’] #nos presenta la información como serie de datos.

In [25]:
df.groupby(['cut', 'color'])['price'].mean().to_frame()

                    price
cut       color
Ideal     D     2,629.095
          E     2,597.550
          F     3,374.939
          G     3,720.706
          H     3,889.335
          I     4,451.970
          J     4,918.186
Premium   D     3,631.293
          E     3,538.914
          F     4,324.890
          G     4,500.742
          H     5,216.707
          I     5,946.181
          J     6,294.592
Very Good D     3,470.467
          E     3,214.652
          F     3,778.820
          G     3,872.754
          H     4,535.390
          I     5,255.880
          J     5,103.513
Good      D     3,405.382
          E     3,423.644
          F     3,495.750
          G     4,123.482
          H     4,276.255
          I     5,078.533
          J     4,574.173
Fair      D     4,291.061
          E     3,682.312
          F     3,827.003
          G     4,239.255
          H     5,135.683
          I     4,685.446
          J     4,975.655

Se pueden agregar nuestras propias funciones o pedirle que se agreguen varias funciones de una sola vez.

Con `.aggregate()` se define una lista de las funciones que le quiero aplicar, en el agrupamiento se convierten en columnas.

In [34]:
df.groupby(['cut', 'color'])['price'].aggregate(['min', np.mean, max])

                 min      mean    max
cut       color
Ideal     D      367 2,629.095  18693
          E      326 2,597.550  18729
          F      408 3,374.939  18780
          G      361 3,720.706  18806
          H      357 3,889.335  18760
          I      348 4,451.970  18779
          J      340 4,918.186  18508
Premium   D      367 3,631.293  18575
          E      326 3,538.914  18477
          F      342 4,324.890  18791
          G      382 4,500.742  18741
          H      368 5,216.707  18795
          I      334 5,946.181  18823
          J      363 6,294.592  18710
Very Good D      357 3,470.467  18542
          E      352 3,214.652  18731
          F      357 3,778.820  18777
          G      354 3,872.754  18818
          H      337 4,535.390  18803
          I      336 5,255.880  18500
          J      336 5,103.513  18430
Good      D      361 3,405.382  18468
          E      327 3,423.644  18236
          F      357 3,495.750  18686
          G      394 4,123.482  18788
          H      368 4,276.255  18640
          I      351 5,078.533  18707
          J      335 4,574.173  18325
Fair      D      536 4,291.061  16386
          E      337 3,682.312  15584
          F      496 3,827.003  17995
          G      369 4,239.255  18574
          H      659 5,135.683  18565
          I      735 4,685.446  18242
          J      416 4,975.655  18531

Se hace una función en promedio de unidades de Kilo

In [36]:
def mean_kilo(x):
  return np.mean(x)/1000

la función que se creo, se aplica a cada uno de estos grupos

In [42]:
df.groupby(['cut', 'color'])['price'].aggregate(['min', np.mean, max, mean_kilo]).head(10)

               min      mean    max  mean_kilo
cut     color
Ideal   D      367 2,629.095  18693      2.629
        E      326 2,597.550  18729      2.598
        F      408 3,374.939  18780      3.375
        G      361 3,720.706  18806      3.721
        H      357 3,889.335  18760      3.889
        I      348 4,451.970  18779      4.452
        J      340 4,918.186  18508      4.918
Premium D      367 3,631.293  18575      3.631
        E      326 3,538.914  18477      3.539
        F      342 4,324.890  18791      4.325

Se puede crear un diccionario de instrucciones que podemos añadir al `aggregate`.

Se quiere crear varios calculos estadisticos para diferentes categorias.

In [43]:
dict_agg = {'carat':[min,max], 'price':[np.mean, mean_kilo]}
dict_agg

{'carat': [<function min>, <function max>],
 'price': [<function numpy.mean>, <function __main__.mean_kilo>]}

In [44]:
df.groupby(['cut', 'color']).aggregate(dict_agg)

                carat           price
                  min   max      mean mean_kilo
cut       color
Ideal     D     0.200 2.750 2,629.095     2.629
          E     0.200 2.280 2,597.550     2.598
          F     0.230 2.450 3,374.939     3.375
          G     0.230 2.540 3,720.706     3.721
          H     0.230 3.500 3,889.335     3.889
          I     0.230 3.220 4,451.970     4.452
          J     0.230 3.010 4,918.186     4.918
Premium   D     0.200 2.570 3,631.293     3.631
          E     0.200 3.050 3,538.914     3.539
          F     0.200 3.010 4,324.890     4.325
          G     0.230 3.010 4,500.742     4.501
          H     0.230 3.240 5,216.707     5.217
          I     0.230 4.010 5,946.181     5.946
          J     0.300 4.010 6,294.592     6.295
Very Good D     0.230 2.580 3,470.467     3.470
          E     0.200 2.510 3,214.652     3.215
          F     0.230 2.480 3,778.820     3.779
          G     0.230 2.520 3,872.754     3.873
          H     0.230 3.000 4,535.390     4.535
          I     0.240 4.000 5,255.880     5.256
          J     0.240 2.740 5,103.513     5.104
Good      D     0.230 2.040 3,405.382     3.405
          E     0.230 3.000 3,423.644     3.424
          F     0.230 2.670 3,495.750     3.496
          G     0.230 2.800 4,123.482     4.123
          H     0.250 3.010 4,276.255     4.276
          I     0.300 3.010 5,078.533     5.079
          J     0.280 3.000 4,574.173     4.574
Fair      D     0.250 3.400 4,291.061     4.291
          E     0.220 2.040 3,682.312     3.682
          F     0.250 2.580 3,827.003     3.827
          G     0.230 2.600 4,239.255     4.239
          H     0.330 4.130 5,135.683     5.136
          I     0.410 3.020 4,685.446     4.685
          J     0.300 5.010 4,975.655     4.976

### Creación de Filtros

Función de filtro, se coge la función que ya se había creado anteriormente, se pide que cada vez que calcule en el promedio y lo divida entre 1000 del precio, seleccione solo aquellos datos mayores a 4. RETORNA BOOL

In [49]:
def f_filter(x):
  return mean_kilo(x['price'])>4

Se utiliza `filter` y se entrega la función de filtro que se creo anteriormente.

Se obtiene que por cada grupo de categoria, se va a obtener aquellos elementos que satisfacen mi condición previamente definida, es decir, cuyo precio promedio de grupo dividio entre 1000 sea mayor a 4.

In [56]:
#X: CADA GRUPO POR TIPO DE CUT: 5 GRUPOS: IDEAL, PREMIUM, VERY GOOD, GOOD
print("df.groupby('cut').filter(f_filter)")
df.groupby('cut').filter(f_filter)

df.groupby('cut').filter(f_filter)

       carat      cut color clarity  depth  table  price     x     y     z
1      0.210  Premium     E     SI1 59.800 61.000    326 3.890 3.840 2.310
3      0.290  Premium     I     VS2 62.400 58.000    334 4.200 4.230 2.630
8      0.220     Fair     E     VS2 65.100 61.000    337 3.870 3.780 2.490
12     0.220  Premium     F     SI1 60.400 61.000    342 3.880 3.840 2.330
14     0.200  Premium     E     SI2 60.200 62.000    345 3.790 3.750 2.270
...      ...      ...   ...     ...    ...    ...    ...   ...   ...   ...
53928  0.790  Premium     E     SI2 61.400 58.000   2756 6.030 5.960 3.680
53930  0.710  Premium     E     SI1 60.500 55.000   2756 5.790 5.740 3.490
53931  0.710  Premium     F     SI1 59.800 62.000   2756 5.740 5.730 3.430
53934  0.720  Premium     D     SI1 62.700 59.000   2757 5.690 5.730 3.580
53938  0.860  Premium     H     SI2 61.000 58.000   2757 6.150 6.120 3.740

[15401 rows x 10 columns]

In [54]:
df.groupby('cut').filter(f_filter)['cut'].unique()

['Premium', 'Fair']
Categories (2, object): ['Premium', 'Fair']